## Table of Content

1. **[Introduction to List](#list)**
2. **[Introduction to Tuple](#tuple)**
3. **[Introduction to Dictionary](#dictionary)**
4. **[Introduction to Sets](#sets)**

<a id="list"> </a>
## 1. Introduction to List
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>A python list is a collection of items that are ordered. It implements the sequence protocol, and also allows you to add and remove elements from the sequence. We can use the index in square brackets, [ ], to identify a value belonging to the list by position.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Constructing Lists

To create a list, use square brackets [] and separate items in the list with commas.
A list can be empty or contain any number of items with different data types (integers, float, strings, etc.)

In [ ]:
# create an empty list
empty_list = []
empty_list

[]

Use the built-in list type object to create lists

In [ ]:
# empty list
empty_list = list()
empty_list

[]

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Note that python creates a single new list every time you use the [ ] expression
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
list_1 = list_2 = [] # both names will point to the same list

list_1 = []
list_1 = list_2 # both names will point to the same list

list_1 = []; list_2 = [] # independent lists

**Note : A list can also hold another list as an element, these are called nested lists**

In [ ]:
# nested list
my_list = [['Data Science','Machine Learning'],[135,232,321]]
my_list

[['Data Science', 'Machine Learning'], [135, 232, 321]]

### Accessing Elements in a List
You can access the list items by referring to the index number

**Indexing:**<br>
Use the index operator [ ]. Each element in a list has an assigned index value. Note that the indexing in python starts from 0 and every index must be an integer

Print the second item of the list

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# access the second item of a list at index 1
print(course[1])

machine learning

**Negative Indexing**:<br>
Negative indexing means position count starts from the end of the list, -1 refers to the last item, -2 refers to the second last item

Print the second last item of the list

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# access the second item of a list at index -2
print(course[-2])

html

**Length of List:**<br>
Use len() function to find total number of elements in a list

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print the length of the list
len(course)

5

### Slicing of a List
List uses the slicing operator : (colon) to extract part of the sequence

Return first three elements from the list

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print first three element from the list
course[:3]

['data science', 'machine learning', 'python']

Return last three elements from the list

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print last three element from the list
course[2:]

['python', 'html', 'big data']

Select elements from beginning to end

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print the all elements
course[:]

['data science', 'machine learning', 'python', 'html', 'big data']

Select first four elements

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print first four elements
course[0:4]

['data science', 'machine learning', 'python', 'html']

If all three 'start', 'stop', and 'step' are provided, it generates portion of sequence beginning from 'start' till 'stop' with increment of 'step'

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[2:7:2])

[3, 5, 7]

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[7:0:-2])

[8, 6, 4, 2]

### Change Item Value
Refer to the index number to change the value of a specific item

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# change the third item
course[3] = 'statistics'

course

['data science', 'machine learning', 'python', 'statistics', 'big data']

### List Methods
Python has in-built methods that you can use on lists and arrays

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Python does not have built-in support for arrays, but python lists can be in place of arrays
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Python has built-in methods that you can use on list:<br>
append()<br>
insert()<br>
extend()<br>
sort()<br>
del <br>
clear()<br>
remove()<br>
pop()<br>
reverse()<br>

**list.append(item)**<br>
The method list.append(item) will add the element at the end of a list

In [ ]:
# define a list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course2 = ['statistics']

# add element to the list
course1.append(course2)
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 ['statistics']]

**list.insert(i, item)**<br>
This method will insert an element at the $i^{th}$ index in a list

In [ ]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# insert element at 2nd index in a list
course.insert(2, 'statistics')
course

['data science',
 'machine learning',
 'statistics',
 'python',
 'html',
 'big data']

**list.extend(items)**<br>
The extend method concatenates lists

In [ ]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data']

# define a second list
course2 = ['artificial intelligence']

# concatenate the list
course1.extend(course2)

course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**list.sort(key, reverse)**<br>
The sort method sorts a list in-place without creating a new object

In [ ]:
# declare a numeric list
income = [2500, 25000, 10000, 50000, 20000, 5000, 17500]
# sort() function is used to sort the numeric values in the list in ascending order
income.sort()
income

[2500, 5000, 10000, 17500, 20000, 25000, 50000]

In [ ]:
# set the reverse parameter to False to arrange the elements in the descending order
income.sort(reverse = True)
income

[50000, 25000, 20000, 17500, 10000, 5000, 2500]

In [ ]:
# We can also sort a collection of strings by their length using the key parameter
sentence = ['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'frog']
sentence.sort(key = len)
sentence

['a', 'fox', 'the', 'over', 'lazy', 'frog', 'quick', 'brown', 'jumps']

**Deleting List Elements**<br>
Use the del keyword to delete an item at specific index

In [ ]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# delete the third element from the list
del course[2]

# print the output
course

['data science', 'machine learning', 'html', 'big data']

In [ ]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# delete multiple items from the list
del course[0:2]

# print the output
course

['python', 'html', 'big data']

**list.clear()**
<br>The clear method resets the list to an empty state

In [ ]:
sentence = ['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'frog']
sentence.clear()
sentence

[]

**list.remove(item)**<br>
It will search and remove only the first occurrence of an item

In [ ]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.remove('html')

course

['data science', 'machine learning', 'python', 'big data', 'html']

**list.pop()**<br>
Removes and returns the last item of a list

In [ ]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.pop()

'html'

**list.reverse()**<br>
It reverses the order of the items in a list

In [ ]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.reverse()

course

['html', 'big data', 'html', 'python', 'machine learning', 'data science']

### Common List Operations

**Concatenation(+)**<br>
The '+' operator is used to combine i.e. concatenate two lists

In [ ]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# define a second list
course2 = ['artificial intelligence']

# concatenate the list
course1 + course2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**Repetition(*)**<br>

The <b>' * '</b> operator is used to repeat a list 'n' number of times. The 'n' is specified by the user <br>
<b>Note: 'n' should be positive</b>

In [ ]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course1*2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'data science',
 'machine learning',
 'python',
 'html',
 'big data']

<a id="tuple"> </a>
## 2. Introduction to Tuple
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>A tuple is a collection of elements which are ordered. A tuple once defined cannot be modified.<br><br>
                    Tuples with elements is created by elements separated by comma surrounding round brackets.  Its actually Trailing commas that define a tuple not parentheses. Round brackets are required incase of ambiguity.
                    <br><br>
                    To iterate over the items of a tuple is faster compared to iterating over a list.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Creating Tuple
Here, we are creating few tuples

In [ ]:
# tuple of strings
my_tuple = ("hello", "python", "hello", "world")
print(my_tuple)

('hello', 'python', 'hello', 'world')

In [ ]:
# tuple of int, float, string
my_tuple = (123, 2.228, "hello python")
print(my_tuple)

(123, 2.228, 'hello python')

In [ ]:
# tuple of string and list
my_tuple = ("python", [12, 12, 31])
print(my_tuple)

('python', [12, 12, 31])

In [ ]:
# tuples inside another tuple
# nested tuple
my_tuple = ((2546, 332, 421), ("python", 63.1, "hi"))
print(my_tuple)

((2546, 332, 421), ('python', 63.1, 'hi'))

### Access Tuple Elements
Use indices to access the items of a tuple

In [ ]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# access the second element from the list
my_tuple[1]

'yellow'

**Negative Indexing**<br>
In Negative indexing position counting starts from the end, -1 refers to the last element, -2 refers to the second last element of the tuple

In [ ]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# print last item of the tuple
my_tuple[-1]

'blue'

**Range of Indices**<br>
Specify a range of indices by specifying the start and the end of the range.
When specifying a range, the output will be a new tuple with the specified items

In [ ]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# return fourth and fifth element from the list
my_tuple[3:5]

('blue', 353)

**Range of Negative Indices**<br>
Specify negative indices to start the search from the end of the tuple

In [ ]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# return the items from index -3 (included) to index -1 (excluded)
my_tuple[-3:-1]

(353, 363.2)

### Change Tuple Values
We cannot change the items of a tuple because items of tuple are immutable. However we can change the elements of nested items in a tuple that are mutable

In [ ]:
my_tuple = (123, ['s', 'a', 'v'], "World")
print(my_tuple)

# changing the element of the list 
# this is valid because list is mutable
my_tuple[1][2] = 99
print(my_tuple)

(123, ['s', 'a', 'v'], 'World')
(123, ['s', 'a', 99], 'World')

In [1]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# changing the element of tuple
# This throws an error since tuple elements are immutable
my_tuple[0] = 'orange'

TypeError: 'tuple' object does not support item assignment

### Delete Operation on Tuple
We already discussed above that we cannot delete the elements of a tuple. However deleting entire tuple is possible

In [ ]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
# deleting entire tuple is possible
del my_tuple

print(my_tuple)

NameError: name 'my_tuple' is not defined

### Tuple Methods

Python has built-in methods which can be used on tuples:<br>
count()<br>
index()<br>

**count()**<br>
It returns the number of times a specified element occurs in a tuple

In [ ]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.count('e')

4

**index()**<br>
It searches the tuple for the first occurance of a specified element and returns the index value for that particular position

In [2]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.index('p')

1

<a id="dictionary"> </a>
## 3. Introduction to Dictionary
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Python dictionary is an unordered collection of elements.
                    It map keys to values and these key-value pairs provide a useful way to store data in python.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Syntax:**<br>
dictionary_name = {&nbsp;key_1: value_1,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   key_2: value_2,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    key_3: value_3,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    }

### Create Dictionary
Separate keys from values with a colon(:), and a pair from another by a comma(,). Put it all in curly braces

In [ ]:
# create dictionary
balance = {
    "Mia" : 83847,
    "John" : 83837,
    "Jill" : 94766
}
print(balance)

{'Mia': 83847, 'John': 83837, 'Jill': 94766}

### Accessing Items
Use the key name inside the square brackets to access the elements from a dictionary

In [ ]:
# Get the value for key "Mia" 
x = balance["Mia"]
x

83847

We can use get method to get the value of "Mia" key

In [ ]:
x = balance.get("Mia")
x

83847

### Change Values
Change the value of a specific element by referring to its key name

In [ ]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales

{2015: 34500, 2016: 34300, 2017: 40000}

In [ ]:
# Change the sales figure for 2015
year_sales[2015] = 45000

year_sales

{2015: 45000, 2016: 34300, 2017: 40000}

**Dictionary Length**

In [ ]:
# print the length of dictionary
print(len(year_sales))

3

**Adding Items**<br>
Add an item to the dictionary by using a new index key and assign a value to it

In [ ]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales['2018'] = 55000

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, '2018': 55000}

### Dictionary Method

**Removing Items**<br>
Following are the methods to remove items from a dictionary:<br>
keys() method<br>
values() method<br>
items() method<br>
pop() method<br>
popitem() method<br>
del keywords<br>
clear() method<br>
copy() method<br>
update() method<br>

**keys()**

In [3]:
# declare a dictionary containing information of cars and their respective horsepowers
horsepower = {'BMW':949 , 'Mercedes':945 ,'Ferrari':954 ,'Volkswagen': 976,'Renault ':889}

Let us now check now call the keys of the dictionary

In [4]:
horsepower.values()

dict_values([949, 945, 954, 976, 889])

It is possible to check whether a key belongs to the dictionary or not using the keyword 'in'

In [ ]:
'Honda' in horsepower

False

In [ ]:
'BMW' in horsepower

True

**values()**

Let us now check the values for all the keys in the dictionary

In [ ]:
horsepower.values()

dict_values([949, 945, 954, 976, 889])

However, like keys of the dictionary it is not possible to check whether a value belongs to the dictionary or not using the keyword 'in'

In [ ]:
934 in horsepower

False

In [ ]:
949 in horsepower

False

The values '934' and '949' are considered to be keys in the above cells. Since there are no such keys in the dictionary 'False' is returned.

**items()**

The function item() returns the key along with its value.

In [ ]:
horsepower.items()

dict_items([('BMW', 949), ('Mercedes', 945), ('Ferrari', 954), ('Volkswagen', 976), ('Renault ', 889)])

It is possible to access the elements of the dictionary. It can be done as follows:

In [ ]:
a = horsepower.items()
a = list(a)
a[1]

('Mercedes', 945)

**pop()**<br>
Remove the element with the specified key name

In [ ]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove key from dictionary
year_sales.pop(2015)

year_sales

{2016: 34300, 2017: 40000}

**popitem()**<br>
It removes the last inserted item

In [ ]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove last item from the dictionary
year_sales.popitem()

year_sales

{2015: 34500, 2016: 34300}

**del keyword**<br>
delete the item with the specified key name

In [ ]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# delete item from the dictionary
del year_sales[2015]

year_sales

{2016: 34300, 2017: 40000}

**clear()**<br>
The clear() keyword empties the entire dictionary

In [ ]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# clear the dictionary
year_sales.clear()

year_sales

{}

**Copy()**<br>
You cannot copy a dictionary by using dict2 = dict1, because dict2 will only be a reference to dict1, and changes made in dict1 will also be made in dict2.<br>
Use copy() method to make copy of dictionary

In [5]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# make a copy of dictionary
copy_dict = year_sales.copy()

In [6]:
copy_dict

{2015: 34500, 2016: 34300, 2017: 40000}

**update()**<br>
Add and modify dictionaries by using the dict.update() method

In [ ]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# update dictionary
year_sales.update({2018:30000})

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, 2018: 30000}

<a id="sets"> </a>
## 4. Introduction to Sets
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>It is a collection of unique items.<br> 
                    It is used to eliminate duplicate items from a list.<br>
                    Also, it supports set operations like union intersection and difference.                    
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Creating Set
In Python sets are written with curly brackets

In [ ]:
# create a set
age_set = {11, 12, 31, 13, 24, 32, 33, 21, 23, 12}
print (age_set)

# create a set
set([1, 2, 3, 4])

{32, 33, 11, 12, 13, 21, 23, 24, 31}

{1, 2, 3, 4}

In [7]:
a = {1,1,1,2,2,2,3,3,3,4,4,4,5,5,5}
print(a)

{1, 2, 3, 4, 5}

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Observed that the set contains unique items only even though we put duplicates into it
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

A set can contain elements of different data types

In [ ]:
# create a set
new_set = {12, 12, 'python', 4, 'world'}

# print
new_set

{'python', 'world', 12, 4}

Following are the methods that you can use on sets:<br>
add()<br>
update()<br>
len()<br>
remove()<br>
pop()<br>

### Change Items
Once a set is created, you cannot modify its items, but you can add new items

**Add Items**<br>
Use add() method to add one item to a set<br>
Use update() method to add more than one item

In [ ]:
# create a set
my_set = {'python','world'}

# add element
my_set.add("hi")

my_set

{'hi', 'python', 'world'}

Add multiple items to a set

In [ ]:
# create a set
my_set = {'python','world'}

# update the set
my_set.update(['data science', 'machine learning'])

my_set

{'data science', 'machine learning', 'python', 'world'}

**Length of Set**

In [ ]:
# create a set
my_set = {'python','world'}

# print the length of set
len(my_set)

2

**remove() method**<br>
Use remove() or discard() method to remove an item in a set

In [ ]:
# create a set
my_set = {'data science', 'machine learning', 'python', 'world'}

# remove element from list 
my_set.remove('data science')

my_set

{'machine learning', 'python', 'world'}

**pop() method**<br>
It removes a random element from the set and returns the removed element

In [10]:
# create a set
my_set = {'data science', 'machine learning', 'python', 'world'}

# remove random element from set 
my_set.pop()

'machine learning'

In [11]:
# create a set
my_set1 = {1,2,3,"data", "science"}

# remove random element from set
my_set1.pop()

1

### Set Operations

**Disjoint set**: if the two sets have no common elements

In [14]:
print (set([11, 12, 22, 33, 4]).isdisjoint(set([2, 33])))

False

**Checking for subset**<br>
Use issubset() method to check whether all elements of a set are contained in another set

In [16]:
# check whether one set 'a' is a subset of the 'b'
a = set([1, 3, 4,11])
b = set([1, 3, 4, 5, 6])
print('Is a subset of b?', a.issubset(b))

Is a subset of b? False

**Set Union**<br>
Use union() method to compute the union of two or more sets

In [ ]:
a = set([1, 2, 3])
b = set([3, 4, 5, 6])
print (a.union(b))

{1, 2, 3, 4, 5, 6}

**Set Intersection**<br>
Take intersection to find the common elements

In [ ]:
a = set([12,34,56,78])
b = set([12,45,67,89,78])
c = set([12,34,56,78,56])
print (a & b)
print (a & b & c)

{12, 78}
{12, 78}

**Set Difference**<br>
It returns a new set containing all items from the first set that are not in the other set

In [ ]:
a = set([23,45,56,77,89])
b = set([23,45,54,33,23])
print(a - b)

{56, 89, 77}