## Table of Content

1. **[Python Variables](#variables)**
2. **[Data Types](#type)**
    - 2.1 - [Numbers](#num)
    - 2.2 - [Strings](#str)
    - 2.3 - [Boolean](#bool)
3. **[Type Conversion](#typecon)**
4. **[Python print()](#print)**
5. **[User Input](#uinput)**
6. **[Python Operators](#oper)**
    - 6.1 - [Arithmetic Operator](#arith)
    - 6.2 - [Comparison Operator](#comp)
    - 6.3 - [Assignment Operator](#assign)
    - 6.4 - [Logical Operator](#logic)
    - 6.5 - [Membership Operator](#member)
    - 6.6 - [Bitwise Operator](#bitwise)
7. **[Python Flow Control](#pfc)**
    - 7.1 - [if - statement](#condition)
    - 7.2 - [while- loop](#while)
    - 7.3 - [for- loop](#for)

In [1]:
#python variable
a = "india"
a

'india'

In [2]:
a = 89
a

89

In [5]:
#multiple variable assignment
a=b=c=56
c

56

In [9]:
a,b,c = 12,23,34
c

34

In [12]:
#rules to be followed 
123 = "india"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3019129711.py, line 2)

In [13]:
mycountr@ = "india"

SyntaxError: invalid syntax (200120075.py, line 1)

In [ ]:
mycountry123 = "india"

In [15]:
123mycountry = "india"

SyntaxError: invalid decimal literal (634287930.py, line 1)

In [14]:
my country = "india"

SyntaxError: invalid syntax (2820664100.py, line 1)

In [17]:
my_country = "india"
my_country

'india'

In [18]:
#variable reassignment
a = "india"
b = "pakistan"
a=b
print(a,b)

pakistan pakistan

In [20]:
#data types in python
#numbers
#string
#boolean

#number
#int
#float
#complex
a = 100
type(a)

int

In [21]:
a = -12.67
type(a)

float

In [22]:
a = 4+6j
type(a)

complex

In [25]:
#string
a = 'india'
type(a)

str

In [26]:
#boolean
a = True
type(a)

bool

In [27]:
a = 50
a > 25

True

In [28]:
#data type conversion
a = 10
float(10)

10.0

In [30]:
a = "10"
float(a)

10.0

In [31]:
a = True
float(a)

1.0

In [ ]:
#we converting into int

In [32]:
a = 34.56
int(a)

34

In [33]:
a = "23"
int(a)

23

In [34]:
a = True
int(a)

1

In [37]:
#string conversion
a = True
str(a)

'True'

In [40]:
#boolean
a = -1
bool(a)

True

In [41]:
#print statemnet in python
print("india")

india

In [45]:
print("india",end = "\n\n\n")
print("pakistan")

india


pakistan

In [51]:
print("india",end = " \n\n")
print("pakistan")

india

pakistan

In [56]:
print("india","pakistan",sep=",")

india,pakistan

In [57]:
#get input from the users
a = input("enter your name")
print(a)

enter your namerohith
rohith

In [58]:
name = str(input("enter your name : "))
age = float(input("enter your age :"))
print(name,age,sep=",")

enter your name : rohit
enter your age :34
rohit,34.0

In [60]:
#operators in python
#arithmetic operators
a = 10
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
#floor division
print(a//b)

#reminder
print(a%b)

#a to the power of b
print(a**b)

14
6
40
2.5
2
2
10000

In [63]:
#comparision operators
a = 10
b = 20
print(a==b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a!=b)

False
False
False
True
True
True

In [65]:
#assignment operator
a = 5
a+=5
print(a)

10

In [66]:
a = 10
a-=6
a

4

In [67]:
a = 23
a*=2
a

46

In [68]:
a = 23
a/=2
a

11.5

In [70]:
#logical operator
#and/or/not
a = 1
b=20
a>5 and b>5

False

In [73]:
a = 1
b=2
a>5 or b>5

False

In [75]:
a = 10
not(a>10)

True

In [81]:
#membership operators
a = "india"
"zx" in a

False

In [82]:
a = "pakistan"
"Z" not in a

True